Repository hmcts/juror-bureau, pull requests merged in 2024-09, with the labels that each got.

#778 hotfix/JM-8169: INC2576126 - Courts unable to confirm attendance for Friday 30th August
  server/routes/juror-management/juror-management.controller.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-778

#774 task/JM-8124: Make bespoke reports sortable
  client/js/print-sortable.js
  client/templates/reporting/standard-reports/standard-report.njk
  server/routes/reporting/bespoke-report/bespoke-report-body.js
  server/routes/reporting/bespoke-report/bespoke-report-print.js
  server/routes/reporting/standard-report/definitions.js
  server/routes/reporting/standard-report/standard-report-print.js
  server/routes/reporting/standard-report/standard-report.controller.js
  server/routes/reporting/standard-report/utils.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-774

#772 INC2571749 - Juror-record attendance breaks when a time-out is not set
  client/templates/juror-management/juror-record/_partials/attendance-table.njk
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-772

#788 feature/JM-8190: As a Bureau Officer, I want to be able to create a Juror
  client/templates/juror-management/create-record-manual/juror-dob.njk
  client/templates/juror-management/create-record-manual/summary.njk
  client/templates/pool-management/pool-overview/bureau-pool-overview.njk
  server/components/auth/index.js
  server/components/auth/user-type.js
  server/config/validation/record-create-manual.js
  server/objects/juror-create-manual.js
  server/routes/juror-management/create-record-manual/create-record-manual.controller.js
  server/routes/pool-management/bureau-create-juror-record/bureau-create-juror-record.controller.js
  server/routes/pool-management/bureau-create-juror-record/index.js
  server/routes/pool-management/index.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-788

#790 hotfix/JM-8202: Create juror record - able to enter invalid DOB and Title
  client/templates/juror-management/create-record-manual/juror-name.njk
  server/config/validation/record-create-manual.js
  server/routes/juror-management/create-record-manual/create-record-manual.controller.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-790

#800 hotfix/JM-8223: Update court create juror success banner
  server/routes/juror-management/create-record-manual/create-record-manual.controller.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-800
