Repository hmcts/juror-bureau, pull requests merged in 2024-10, with the labels that each got.

#801 Task/JM-8187: It should not be possible to mark a juror as deferred without a DOB
  server/routes/juror-management/postpone/postpone.controller.js
  server/routes/juror-management/update/juror-update.controller.js
  server/routes/pool-management/deferral-maintenance/deferral-maintenance.controller.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-801

#804 task/JM-8187b: Add defer DOB bvr to digital summons
  server/routes/pool-management/deferral-maintenance/deferral-maintenance.controller.js
  server/routes/summons-management/summons-management.controller.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-804

#805 JM-8216 - Node package version updates
  package.json
  yarn-audit-known-issues
  yarn.lock
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-805

#799 Release2
  client/templates/juror-management/_partials/third-party-details.njk
  client/templates/juror-management/attendance/change-times.njk
  client/templates/juror-management/attendance/confirmed/confirmed.njk
  client/templates/juror-management/attendance/unconfirmed-attendances.njk
  package.json
  server/objects/juror-attendance.js
  server/routes/juror-management/attendance/change-times/change-times.controller.js
  server/routes/juror-management/attendance/index.js
  server/routes/juror-management/attendance/unconfirmed-attendances/index.js
  server/routes/juror-management/attendance/unconfirmed-attendances/unconfirmed-attendances.controller.js
  server/routes/juror-management/create-record-manual/create-record-manual.controller.js
  server/routes/juror-management/edit/juror-edit.controller.js
  server/routes/juror-management/juror-management.controller.js
  server/routes/juror-management/postpone/postpone.controller.js
  server/routes/juror-management/update/juror-update.controller.js
  server/routes/pool-management/deferral-maintenance/deferral-maintenance.controller.js
  server/routes/response/detail/detail.controller.js
  server/routes/summons-management/summons-management.controller.js
  yarn-audit-known-issues
  yarn.lock
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-799

#803 hotfix/JM-8145: Add try catch blocks to update juror deferral - available pools call
  server/routes/juror-management/update/juror-update.controller.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-803

#806 task/JM-8224: Remove option to Defer/Postpone a Juror after checking them in
  client/templates/juror-management/_partials/juror-update-options.njk
  client/templates/juror-management/postpone/pools.njk
  client/templates/summons-management/_partials/deferral-no-available-pools.njk
  server/components/filters/index.js
  server/routes/juror-management/postpone/postpone.controller.js
  server/routes/juror-management/update/juror-update.controller.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-806

#810 dev/JM-8238 - Node dependency updates
  package.json
  yarn.lock
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-810

#807 Release3
  client/templates/juror-management/_partials/juror-update-options.njk
  client/templates/juror-management/postpone/pools.njk
  client/templates/summons-management/_partials/deferral-no-available-pools.njk
  package.json
  server/components/filters/index.js
  server/routes/juror-management/create-record-manual/create-record-manual.controller.js
  server/routes/juror-management/postpone/postpone.controller.js
  server/routes/juror-management/update/juror-update.controller.js
  yarn.lock
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-807

#817 task/JM-8257: Update documents module to Axios
  server/objects/axios-instance.js
  server/objects/dataAccessObject.js
  server/objects/documents.js
  server/routes/documents/document-form.controller.js
  server/routes/documents/exemption/exemption-list.controller.js
  server/routes/documents/exemption/exemption-trials.controller.js
  server/routes/documents/failed-to-attend/failed-to-attend.controller.js
  server/routes/documents/letters-list/letters-list.controller.js
  server/routes/documents/print.controller.js
  server/routes/documents/show-cause/show-cause.controller.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-817

#815 task/JM-8260: Update all Juror Record module to axios
  server/lib/mod-utils.js
  server/objects/axios-instance.js
  server/objects/complete-service.js
  server/objects/juror-deceased.js
  server/objects/juror-record.js
  server/objects/juror-transfer.js
  server/routes/juror-management/attendance/change-attendance-date/change-attendance-date.controller.js
  server/routes/juror-management/edit/juror-edit.controller.js
  server/routes/juror-management/juror-record/juror-record.controller.js
  server/routes/juror-management/new-name/new-name.controller.js
  server/routes/juror-management/update/juror-update.controller.js
  server/routes/juror-management/update/juror-update.failed-to-attend.controller.js
  server/routes/pool-management/pool-overview/pool-overview.controller.js
  server/routes/response/detail/detail.controller.js
  server/routes/shared/complete-service/complete-service.controller.js
  server/routes/summons-management/paper-reply/paper-reply.controller.js
  server/routes/summons-management/summons-management.controller.js
  server/routes/summons-management/update/juror-details.controller.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-815

#820 Task/JM-8263: Update Reports module to Axios
  server/objects/reports.js
  server/routes/reporting/ballot-cards/ballot-cards.controller.js
  server/routes/reporting/reprint-audit-reports/reprint-audit-report.controller.js
  server/routes/reporting/standard-report/standard-report.controller.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-820

#819 Task/JM-8261: Update Messaging module to Axios
  server/objects/messaging.js
  server/routes/messaging/export-contact-details.controller.js
  server/routes/messaging/send-messages.controller.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-819

#813 task/JM-8256: Update Administration module to Axios
  server/objects/administration.js
  server/objects/users.js
  server/routes/administration/bank-holidays/bank-holidays.controller.js
  server/routes/administration/court-details/court-details.controller.js
  server/routes/administration/courts-and-bureau/courts-and-bureau.controller.js
  server/routes/administration/expense-limits-court/expense-limits-court.controller.js
  server/routes/administration/expense-limits/expense-limits.controller.js
  server/routes/administration/judges/judges.controller.js
  server/routes/administration/non-sitting-days/non-sitting-days.controller.js
  server/routes/administration/room-locations/room-locations.controller.js
  server/routes/administration/system-codes/system-codes.controller.js
  server/routes/administration/users/assign-courts/assign-courts.js
  server/routes/administration/users/create-users/create-users.controller.js
  server/routes/administration/users/edit-user/edit-user.controller.js
  server/routes/administration/users/users.controller.js
  server/routes/juror-management/edit/juror-edit.controller.js
  server/routes/juror-management/excusal/excusal.controller.js
  server/routes/juror-management/expenses/edit/edit-approval-expenses.controller.js
  server/routes/juror-management/juror-record/confirm-identity/confirm-identity.controller.js
  server/routes/juror-management/juror-record/juror-record.controller.js
  server/routes/juror-management/update/juror-update.controller.js
  server/routes/reporting/monthly-utilisation/monthly-utilisation.controller.js
  server/routes/response/detail/detail.controller.js
  server/routes/summons-management/paper-reply/paper-reply.controller.js
  server/routes/summons-management/process-reply/reassign-before-process/reassign-before-process.controller.js
  server/routes/summons-management/summons-management.controller.js
  server/routes/summons-management/update/reasonable-adjustments.controller.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-813

#811 task/JM-8245: Add additional validation for Address Line 4 for summons replies
  server/components/filters/index.js
  server/routes/summons-management/summons-management.controller.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-811

#824 JM-8214 - edit juror - fix 3rd party auto selection
  client/templates/juror-management/edit/juror-edit-details.njk
  server/routes/juror-management/edit/juror-edit.controller.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-824

#823 feature/JM-8274: As a jury officer I want to be able to confirm juror attendance for the day
  server/routes/juror-management/juror-management.controller.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-823

#821 Task/JM-8265: Update Trial Management module to Axios
  server/objects/create-trial.js
  server/objects/end-trial.js
  server/objects/panel.js
  server/objects/return-jurors.js
  server/routes/documents/exemption/exemption-duration.controller.js
  server/routes/juror-management/jurors-on-trial/jurors-on-trial.controller.js
  server/routes/trial-management/add-panel-members/add-panel-member.controller.js
  server/routes/trial-management/create-trial/create-trial.controller.js
  server/routes/trial-management/edit-trial/edit-trial.controller.js
  server/routes/trial-management/empanel-jury/empanel-jury.controller.js
  server/routes/trial-management/generate-panel/generate-panel.controller.js
  server/routes/trial-management/returns.controller.js
  server/routes/trial-management/trial-management.controller.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-821

#825 dev/JM-8252 - Trim whitespace from name fields
  server/routes/juror-management/edit/juror-edit.controller.js
  server/routes/summons-management/update/juror-details.controller.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-825

#827 Task/JM-8262: Update Pool Management module to Axios
  server/objects/bureau-deferrals.js
  server/objects/edit-pool.js
  server/objects/nil-pool.js
  server/objects/pool-history.js
  server/objects/pool-management.js
  server/objects/pool-search.js
  server/objects/postcodes.js
  server/objects/request-pool.js
  server/objects/summoning-progress.js
  server/routes/administration/non-sitting-days/non-sitting-days.controller.js
  server/routes/documents/exemption/exemption-list.controller.js
  server/routes/juror-management/create-record-manual/create-record-manual.controller.js
  server/routes/juror-management/dismiss-jurors/dismiss-jurors.controller.js
  server/routes/juror-management/juror-record/juror-record.controller.js
  server/routes/juror-management/manage-jurors/manage-jurors.controller.js
  server/routes/juror-management/postpone/postpone.controller.js
  server/routes/juror-management/reassign/reassign.controller.js
  server/routes/juror-management/update/juror-update.transfer.controller.js
  server/routes/messaging/export-contact-details.controller.js
  server/routes/pool-management/additional-summons/additional-summons.controller.js
  server/routes/pool-management/check-day-type.js
  server/routes/pool-management/convert-nil-pool/convert-nil-pool.controller.js
  server/routes/pool-management/coroner-court/coroner-court.controller.js
  server/routes/pool-management/create-pool/summon-citizens/summon-citizens.controller.js
  server/routes/pool-management/deferral-maintenance/deferral-maintenance.controller.js
  server/routes/pool-management/nil-pool/nil-pool.controller.js
  server/routes/pool-management/pool-create-manual/pool-create-manual.controller.js
  server/routes/pool-management/pool-overview/edit/edit-pool.controller.js
  server/routes/pool-management/pool-overview/pool-overview.controller.js
  server/routes/pool-management/pool-search/pool-search.controller.js
  server/routes/pool-management/request-pool/request-pool.controller.js
  server/routes/pool-management/summoning-progress/summoning-progress.controller.js
  server/routes/reporting/standard-report/standard-report.controller.js
  server/routes/summons-management/process-reply/reassign-before-process/reassign-before-process.controller.js
  server/routes/summons-management/summons-management.controller.js
  server/routes/trial-management/edit-trial/edit-trial.controller.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-827

#828 task/JM-8201: Update to allow multiple juror attendance on same attendance audit number
  client/templates/juror-management/jurors-on-trial/confirm-attendance.njk
  client/templates/juror-management/jurors-on-trial/trials-table.njk
  server/objects/panel.js
  server/routes/juror-management/jurors-on-trial/jurors-on-trial.controller.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-828
