Repository hmcts/juror-bureau, pull requests merged in 2024-12, with the labels that each got.

#849 JS-124 - Move Dismiss jurors to pool management
  client/js/dismiss-jurors.js
  client/templates/juror-management/manage-jurors.njk
  client/templates/pool-management/_common/pool-management-nav.njk
  client/templates/pool-management/dismiss-jurors/check-out.njk
  client/templates/pool-management/dismiss-jurors/complete-service.njk
  client/templates/pool-management/dismiss-jurors/jurors-list.njk
  client/templates/pool-management/dismiss-jurors/jurors-table.njk
  client/templates/pool-management/dismiss-jurors/pools-list.njk
  client/templates/pool-management/dismiss-jurors/pools-table.njk
  client/templates/pool-management/index.njk
  server/config/validation/dismiss-jurors.js
  server/objects/dismiss-jurors.js
  server/routes/juror-management/dismiss-jurors/index.js
  server/routes/juror-management/index.js
  server/routes/pool-management/dismiss-jurors/dismiss-jurors.controller.js
  server/routes/pool-management/dismiss-jurors/dismiss-jurors.md
  server/routes/pool-management/dismiss-jurors/index.js
  server/routes/pool-management/index.js
  server/routes/pool-management/pool-management.controller.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-849

#854 Hotfix/JS-169: Bad gateway error on 'generate list of jurors to dismiss' button
  server/routes/pool-management/dismiss-jurors/dismiss-jurors.controller.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-854

#843 Release5
  client/js/dismiss-jurors.js
  client/templates/juror-management/_partials/juror-update-options.njk
  client/templates/juror-management/manage-jurors.njk
  client/templates/pool-management/_common/pool-management-nav.njk
  client/templates/pool-management/dismiss-jurors/check-out.njk
  client/templates/pool-management/dismiss-jurors/complete-service.njk
  client/templates/pool-management/dismiss-jurors/jurors-list.njk
  client/templates/pool-management/dismiss-jurors/jurors-table.njk
  client/templates/pool-management/dismiss-jurors/pools-list.njk
  client/templates/pool-management/dismiss-jurors/pools-table.njk
  client/templates/pool-management/index.njk
  client/templates/pool-management/movement/bulk-validate.njk
  client/templates/pool-management/on-call/on-call-confirmation.njk
  client/templates/pool-management/pool-overview/court-pool-jurors.njk
  client/templates/reporting/deferred-list/list-by.njk
  client/templates/trial-management/_partials/trial-panel.njk
  client/templates/trial-management/reassign-panel/confirm-reassign.njk
  client/templates/trial-management/reassign-panel/select-trial.njk
  server/components/filters/index.js
  server/config/validation/additional-summons.js
  server/config/validation/dismiss-jurors.js
  server/config/validation/reassign-panel.js
  server/config/validation/return-panel-jury.js
  server/lib/mod-utils.js
  server/objects/axios-instance.js
  server/objects/dismiss-jurors.js
  server/objects/juror-record.js
  server/objects/reassign-panel.js
  server/routes/juror-management/attendance/change-attendance-date/change-attendance-date.controller.js
  server/routes/juror-management/dismiss-jurors/index.js
  server/routes/juror-management/expenses/edit/edit-approval-expenses.controller.js
  server/routes/juror-management/index.js
  server/routes/juror-management/juror-record/juror-record.controller.js
  server/routes/juror-management/update/juror-update.controller.js
  server/routes/pool-management/additional-summons/additional-summons.controller.js
  server/routes/pool-management/create-pool/summon-citizens/summon-citizens.controller.js
  server/routes/pool-management/dismiss-jurors/dismiss-jurors.controller.js
  server/routes/pool-management/dismiss-jurors/dismiss-jurors.md
  server/routes/pool-management/dismiss-jurors/index.js
  server/routes/pool-management/index.js
  server/routes/pool-management/pool-management.controller.js
  server/routes/pool-management/pool-overview/index.js
  server/routes/pool-management/pool-overview/on-call/index.js
  server/routes/pool-management/pool-overview/on-call/on-call.controller.js
  server/routes/pool-management/pool-overview/pool-overview.controller.js
  server/routes/reporting/deferred-list/deferred-list.controller.js
  server/routes/reporting/standard-report/definitions.js
  server/routes/reporting/standard-report/standard-report.controller.js
  server/routes/trial-management/index.js
  server/routes/trial-management/reassign-panel/index.js
  server/routes/trial-management/reassign-panel/reassign-panel.controller.js
  server/routes/trial-management/trial-management.controller.js
  yarn-audit-known-issues
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-843

#856 hotfix/JS-158: Changing check in/out time for confirmed jurors in waiting reverts EXPENSE_ENTERED to CHECKED_OUT
  server/routes/juror-management/attendance/change-times/change-times.controller.js
  yarn-audit-known-issues
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-856

#859 feature/JS-148b: Update locked jurors in waiting to show appearance confirmation status
  client/templates/juror-management/attendance/confirmed/confirmed.njk
  client/templates/juror-management/attendance/unconfirmed/unconfirmed.njk
  server/routes/juror-management/juror-management.controller.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-859

#861 feature/JS-148d: Prevent SJO users from seeing attendance days that aren't locked
  server/routes/juror-management/juror-management.controller.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-861

#858 Interim 6
  client/templates/juror-management/_common/juror-management-nav.njk
  client/templates/juror-management/_partials/attendance-sub-nav.njk
  client/templates/juror-management/attendance.njk
  client/templates/juror-management/attendance/confirmed/confirmed.njk
  client/templates/juror-management/attendance/unconfirmed-attendances.njk
  client/templates/juror-management/attendance/unconfirmed/table-row.njk
  client/templates/juror-management/attendance/unconfirmed/unconfirmed.njk
  client/templates/juror-management/jurors-on-trial/list-of-trials.njk
  server/routes/juror-management/attendance/change-times/change-times.controller.js
  server/routes/juror-management/attendance/unconfirmed-attendances/index.js
  server/routes/juror-management/attendance/unconfirmed-attendances/unconfirmed-attendances.controller.js
  server/routes/juror-management/expenses/edit/edit-approval-expenses.controller.js
  server/routes/juror-management/juror-management.controller.js
  server/routes/juror-management/jurors-on-trial/jurors-on-trial.controller.js
  server/routes/summons-management/process-reply/reassign-before-process/reassign-before-process.controller.js
  server/routes/summons-management/summons-management.controller.js
  yarn-audit-known-issues
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-858

#864 JS-172 - Bureau version number config
  package.json
  server/app.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-864

#865 JS-81 - Remove unused request dependency
  package.json
  yarn-audit-known-issues
  yarn.lock
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-865

#866 JS-172a - Retrieve package settings
  server/app.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-866

#868 JS-81a - Remove / update node dependencies
  package.json
  yarn-audit-known-issues
  yarn.lock
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-868

#870 JS-142 - Fix error when response sent to unassigned
  server/routes/search/search.controller.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-870

#871 JS-57 - Update tel no validators to allow dashes and hyphens
  server/config/validation/paper-reply.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-871
