Repository hmcts/juror-bureau, pull requests merged in 2024-07, with the labels that each got.

#599 Bug (JM-7675) fix internal flow navigation
  server/routes/summons-management/paper-reply/paper-reply.controller.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-599

#602 Bug (JM-7614) fix timezone parsing
  package.json
  server/components/filters/index.js
  yarn-audit-known-issues
  yarn.lock
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-602

#609 Bug (JM-7695) Fix check all jurors selection logic on change next due date
  server/routes/pool-management/pool-overview/change-next-due-at-court/change-next-due-at-court.controller.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-609

#610 Bug (JM-7700) fix missing condition for smart card
  server/routes/juror-management/expenses/edit/edit-approval-expenses.controller.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-610

#613 Bug (JM-7682) fix looking up jurors by auth code instead of loccode
  server/routes/juror-management/juror-management.controller.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-613

#615 Bug (JM-7707) fix missing form field in new deferal pools flow
  client/templates/juror-management/edit/deferral-available-pools.njk
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-615

#621 Juror Digital Dashboards are not displaying graphs/donuts
  client/templates/dashboard/chartmacro-autoProcessed.njk
  client/templates/dashboard/chartmacro-bar-line.njk
  client/templates/dashboard/chartmacro-doughnut.njk
  client/templates/dashboard/chartmacro-stacked.njk
  client/templates/dashboard/deferral-excusal.njk
  client/templates/dashboard/index.njk
  yarn-audit-known-issues
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-621

#622 Blank line to force build
  README.md
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-622

#623 Messaging juror hyperlink not always working says juror not found
  client/templates/messaging/_common/juror-record-url.macro.njk
  client/templates/messaging/_partials/jurors-table.njk
  client/templates/messaging/export-contact-details/jurors-table.njk
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-623

#627 Add logging to authentication flow
  server/config/express.js
  server/routes/authentication/authentication.controller.js
  server/routes/authentication/azure.controller.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-627

#624 Existing trials not accessible post migration
  server/config/validation/create-trial.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-624

#628 Court room dropdown autocomplete does not show for some courts
  client/templates/trial-management/create-trial.njk
  server/routes/trial-management/create-trial/create-trial.controller.js
  server/routes/trial-management/edit-trial/edit-trial.controller.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-628

#625 Bad Gateway on Bureau
  server/config/validation/change-attendance-date.js
  server/routes/pool-management/pool-overview/change-next-due-at-court/change-next-due-at-court.controller.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-625

#630 Trials created for a satellite court are saved with parent court
  server/routes/juror-management/manage-jurors/manage-jurors.controller.js
  server/routes/messaging/send-messages.controller.js
  server/routes/trial-management/create-trial/create-trial.controller.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-630

#632 Bureau unable to summon jurors - FE Error
  client/templates/pool-management/additional-summons/index.njk
  client/templates/pool-management/create-pool/summon-citizens/index.njk
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-632

#631 Juror history shows wrong date
  server/routes/juror-management/juror-record/juror-record.controller.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-631

#637 Redesign locking/unlocking confirm attendance for a day
  server/routes/juror-management/juror-management.controller.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-637

#638 update the front end to avoid error with the description
  server/routes/summons-management/process-reply/reassign-before-process/reassign-before-process.controller.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-638

#639 Court printed letters have the address misaligned
  server/routes/documents/pdf/letter-generator.js
  server/routes/documents/print.controller.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-639

#640 Incorrect logger function being called
  server/routes/authentication/azure.controller.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-640

#636 Stabilisation2
  client/templates/pool-management/additional-summons/index.njk
  client/templates/pool-management/create-pool/summon-citizens/index.njk
  server/config/express.js
  server/routes/authentication/azure.controller.js
  server/routes/documents/pdf/letter-generator.js
  server/routes/documents/print.controller.js
  server/routes/juror-management/juror-record/juror-record.controller.js
  server/routes/summons-management/process-reply/reassign-before-process/reassign-before-process.controller.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-636

#642 Bureau unable to summon jurors - FE Error
  server/routes/pool-management/request-pool/request-pool.controller.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-642

#641 Amend juror and pool history dates
  client/templates/juror-management/_partials/history-tab.njk
  client/templates/pool-management/pool-overview/pool-history.njk
  server/routes/juror-management/juror-record/juror-record.controller.js
  server/routes/pool-management/pool-overview/pool-overview.controller.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-641

#652 TypeError: history.forEach is not a function on selecting Attendance and Payments tab on History
  server/components/filters/index.js
  server/routes/juror-management/juror-record/juror-record.controller.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-652

#653 edit an expense, preview, then submit throws error
  server/routes/juror-management/expenses/edit/edit-approval-expenses.controller.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-653

#650 Adding expense limits to user screen
  client/templates/administration/users/create-users/confirm-details.njk
  client/templates/administration/users/create-users/user-details.njk
  client/templates/administration/users/edit-user.njk
  client/templates/administration/users/user-record.njk
  server/config/validation/create-users.js
  server/routes/administration/users/create-users/create-users.controller.js
  server/routes/administration/users/edit-user/edit-user.controller.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-650

#644 Stabilisation3
  client/templates/administration/users/create-users/confirm-details.njk
  client/templates/administration/users/create-users/user-details.njk
  client/templates/administration/users/edit-user.njk
  client/templates/administration/users/user-record.njk
  client/templates/juror-management/_partials/history-tab.njk
  client/templates/pool-management/pool-overview/pool-history.njk
  server/components/filters/index.js
  server/config/express.js
  server/config/validation/create-users.js
  server/routes/administration/users/create-users/create-users.controller.js
  server/routes/administration/users/edit-user/edit-user.controller.js
  server/routes/juror-management/attendance/add-attendance-date/add-attendance-date.controller.js
  server/routes/juror-management/attendance/attendance.controller.js
  server/routes/juror-management/attendance/confirm-attendance/confirm-attendance.controller.js
  server/routes/juror-management/expenses/edit/edit-approval-expenses.controller.js
  server/routes/juror-management/juror-record/juror-record.controller.js
  server/routes/pool-management/pool-overview/pool-overview.controller.js
  server/routes/pool-management/request-pool/request-pool.controller.js
  server/routes/reporting/audit.controller.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-644

#655 Bureau user creation asking for approval limit
  server/config/validation/create-users.js
  server/routes/administration/users/create-users/create-users.controller.js
  server/routes/administration/users/edit-user/edit-user.controller.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-655

#657 INC2529075 - Unable to edit expenses for approval [HMCTS Ref INC5632495]
  server/routes/juror-management/expenses/edit/edit-approval-expenses.controller.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-657

#659 Pending Juror flag on home page shows for primary court not satellite court
  server/routes/homepage/homepage.controller.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-659

#661 Hotfix/JM-7861 Record transferred to court does not highlight this on the record
  client/templates/juror-management/_partials/heading.njk
  server/routes/juror-management/juror-record/juror-record.controller.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-661

#656 Hotfix/JM-7847
  server/routes/juror-management/create-record-manual/create-record-manual.controller.js
  server/routes/juror-management/manage-jurors/manage-jurors.controller.js
  server/routes/pool-management/pool-create-manual/pool-create-manual.controller.js
  server/routes/pool-management/pool-management.controller.js
  server/routes/pool-management/request-pool/request-pool.controller.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-656

#662 Trials - pagination not showing for lists larger than 25
  server/routes/trial-management/trial-management.controller.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-662

#660 When viewing the juror details page. I should see the attendances for the court I am logged in as not the active court the juror is at
  server/objects/juror-record.js
  server/routes/juror-management/attendance/change-attendance-date/change-attendance-date.controller.js
  server/routes/juror-management/juror-record/juror-record.controller.js
  server/routes/juror-management/update/juror-update.controller.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-660

#654 on record attendance when changing the times through change link it confirms the attendance it should just change the times
  client/templates/juror-management/attendance/unconfirmed/table-row.njk
  server/routes/juror-management/attendance/change-times/change-times.controller.js
  server/routes/juror-management/juror-record/index.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-654

#663 Technical problem when clicking Change on attendance for a satellite court
  server/routes/juror-management/attendance/change-times/change-times.controller.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-663

#658 Stabilisation4
  client/templates/juror-management/_partials/heading.njk
  client/templates/juror-management/attendance/unconfirmed/table-row.njk
  server/config/validation/create-users.js
  server/objects/juror-record.js
  server/routes/administration/users/create-users/create-users.controller.js
  server/routes/administration/users/edit-user/edit-user.controller.js
  server/routes/homepage/homepage.controller.js
  server/routes/juror-management/attendance/change-attendance-date/change-attendance-date.controller.js
  server/routes/juror-management/attendance/change-times/change-times.controller.js
  server/routes/juror-management/create-record-manual/create-record-manual.controller.js
  server/routes/juror-management/expenses/edit/edit-approval-expenses.controller.js
  server/routes/juror-management/juror-record/index.js
  server/routes/juror-management/juror-record/juror-record.controller.js
  server/routes/juror-management/manage-jurors/manage-jurors.controller.js
  server/routes/juror-management/update/juror-update.controller.js
  server/routes/pool-management/pool-create-manual/pool-create-manual.controller.js
  server/routes/pool-management/pool-management.controller.js
  server/routes/pool-management/request-pool/request-pool.controller.js
  server/routes/trial-management/trial-management.controller.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-658

#664 Record attendance check out issue
  client/templates/juror-management/attendance/unconfirmed/unconfirmed.njk
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-664

#645 Bulk print on approved expenses not opening in new tab
  server/lib/reports/bulk-generator.js
  server/lib/reports/single-generator.js
  server/routes/juror-management/approve-expenses/approve-expenses.controller.js
  server/routes/reporting/expenses-bulk/expenses-bulk.controller.js
  server/routes/reporting/index.js
  server/routes/reporting/some-report/some-report.controller.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-645

#649 When a juror is deferred or excuse from a paper response the green enter summons reply button still shows
  client/templates/juror-management/_partials/heading.njk
  server/routes/juror-management/juror-record/juror-record.controller.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-649

#667 INC2532622 - Unable to authorise expenses for Hove and Brighton
  server/routes/juror-management/unpaid-attendance/expense-record/for-approval.controller.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-667

#665 Stabilisation5
  client/templates/juror-management/_partials/heading.njk
  client/templates/juror-management/attendance/unconfirmed/unconfirmed.njk
  client/templates/reporting/court-statistics.njk
  server/lib/reports/bulk-generator.js
  server/lib/reports/single-generator.js
  server/routes/juror-management/approve-expenses/approve-expenses.controller.js
  server/routes/juror-management/juror-record/juror-record.controller.js
  server/routes/juror-management/unpaid-attendance/expense-record/for-approval.controller.js
  server/routes/reporting/expenses-bulk/expenses-bulk.controller.js
  server/routes/reporting/index.js
  server/routes/reporting/some-report/some-report.controller.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-665

#670 Fixes to prevent known crashes
  client/js/attendance.js
  client/templates/juror-management/approve-expenses/_partials/approve-expenses-table.njk
  client/templates/juror-management/approve-expenses/approve-expenses.njk
  client/templates/juror-management/attendance/unconfirmed/table-row.njk
  client/templates/pool-management/pool-overview/court-pool-overview.njk
  server/config/express.js
  server/routes/juror-management/approve-expenses/approve-expenses.controller.js
  server/routes/juror-management/attendance/attendance.controller.js
  server/routes/pool-management/pool-overview/change-next-due-at-court/change-next-due-at-court.controller.js
  server/routes/reporting/audit.controller.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-670

#672 Stabilisation6 release
  client/js/attendance.js
  client/templates/juror-management/approve-expenses/_partials/approve-expenses-table.njk
  client/templates/juror-management/approve-expenses/approve-expenses.njk
  client/templates/juror-management/attendance/unconfirmed/table-row.njk
  client/templates/pool-management/pool-overview/court-pool-overview.njk
  server/config/express.js
  server/routes/juror-management/approve-expenses/approve-expenses.controller.js
  server/routes/juror-management/attendance/attendance.controller.js
  server/routes/pool-management/pool-overview/change-next-due-at-court/change-next-due-at-court.controller.js
  server/routes/reporting/audit.controller.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-672

#671 Code fix required to update day confirmation to include all check-in / checked-out jurors that do not have the status of JUROR
  server/lib/mod-utils.js
  server/routes/juror-management/attendance/attendance.controller.js
  server/routes/juror-management/attendance/confirm-attendance/confirm-attendance.controller.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-671

#674 Add add attendance day and none attendance day for panel status jurors
  client/templates/juror-management/juror-record/attendance.njk
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-674

#673 Juror history links need updating
  client/templates/juror-management/_partials/attendance-tab.njk
  client/templates/juror-management/_partials/history-tab.njk
  server/components/filters/index.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-673

#675 Application crashing on trying to print letters
  server/routes/documents/letters-list/letters-list.controller.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-675

#676 Stabilisation7 release
  client/templates/juror-management/_partials/attendance-tab.njk
  client/templates/juror-management/_partials/history-tab.njk
  client/templates/juror-management/juror-record/attendance.njk
  server/components/filters/index.js
  server/lib/mod-utils.js
  server/routes/documents/letters-list/letters-list.controller.js
  server/routes/juror-management/attendance/attendance.controller.js
  server/routes/juror-management/attendance/confirm-attendance/confirm-attendance.controller.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-676
