Repository hmcts/juror-bureau, pull requests merged in 2025-03, with the labels that each got.

#899 interim8
  client/templates/administration/expense-limits.njk
  client/templates/juror-management/expense-record/_partials/expenses-table-macros.njk
  client/templates/juror-management/juror-record/_partials/attendance-table.njk
  server/components/filters/index.js
  server/config/validation/update-expense-rates.js
  server/routes/juror-management/expenses/edit/edit-approval-expenses.controller.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-899

#906 JS-262 - Fix unpaid attendance report missing audit no
  server/routes/reporting/bespoke-report/bespoke-report-body.js
  yarn-audit-known-issues
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-906

#908 JS-206 - Update GDS govuk-frontend 5.8.0
  client/scss/main.scss
  package.json
  yarn-audit-known-issues
  yarn.lock
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-908

#910 JS-72 - Additional safeguards using cached session data
  client/templates/_errors/data-mismatch.njk
  server/routes/juror-management/attendance/add-attendance-date/add-attendance-date.controller.js
  server/routes/juror-management/edit/juror-edit.controller.js
  server/routes/juror-management/expenses/edit-bank-details/edit-bank-details.controller.js
  server/routes/juror-management/expenses/expenses.controller.js
  server/routes/juror-management/expenses/non-attendance-day/non-attendance-day.controller.js
  server/routes/juror-management/juror-record/juror-record.controller.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-910

#916 Task/JS-233: Display numbers on Summoning Progress bars
  client/js/summoning-progress.js
  client/scss/summoning-progress.scss
  client/templates/pool-management/summoning-progress/index.njk
  client/templates/pool-management/summoning-progress/table/summoning-progress-table.njk
  server/routes/pool-management/summoning-progress/summoning-progress.controller.js
  webpack/htmlWebpack.js
Labels: ns:juror, prd:juror, stg/add-or-update, prod/add-or-update, rel:juror-bureau-pr-916

#915 Hotfix/JS-320: Reasonable Adjustments Report Print fix
  server/routes/reporting/standard-report/definitions.js
  server/routes/reporting/standard-report/standard-report.controller.js
Labels: ns:juror, prd:juror, stg/add-or-update, prod/add-or-update, rel:juror-bureau-pr-915

#909 task/JS-289: Add search field on trials screen
  client/templates/trial-management/trials.njk
  server/routes/trial-management/index.js
  server/routes/trial-management/trial-management.controller.js
  server/routes/trial-management/trial-management.print.controller.js
Labels: ns:juror, prd:juror, stg/add-or-update, prod/add-or-update, rel:juror-bureau-pr-909

#904 Task/JS-285: As a court officer I want to navigate to previous dates easier form the record attendance screen
  client/templates/custom-components/date-picker/template.njk
  client/templates/juror-management/attendance.njk
  client/templates/juror-management/jurors-on-trial/list-of-trials.njk
  server/routes/juror-management/juror-management.controller.js
  server/routes/juror-management/jurors-on-trial/jurors-on-trial.controller.js
Labels: ns:juror, prd:juror, stg/add-or-update, rel:juror-bureau-pr-904, prod/add-or-update

#903 Task/JS-208: Flag when a postcode change moves a juror into a different court catchment area (juror record)
  client/templates/juror-management/juror-record/details.njk
  client/templates/juror-management/reassign/pools.njk
  client/templates/summons-management/process-reply/reassign-before-process.njk
  server/objects/juror-record.js
  server/routes/juror-management/edit/index.js
  server/routes/juror-management/edit/juror-edit.controller.js
  server/routes/juror-management/juror-record/juror-record.controller.js
  server/routes/juror-management/reassign/reassign.controller.js
Labels: ns:juror, prd:juror, stg/add-or-update, rel:juror-bureau-pr-903, prod/add-or-update

#911 Task/JS-295: Add active pools list selection to messaging module
  client/templates/messaging/_partials/pools-table.njk
  client/templates/messaging/find-jurors.njk
  client/templates/messaging/select-pool.njk
  server/lib/mod-utils.js
  server/routes/messaging/index.js
  server/routes/messaging/send-messages.controller.js
Labels: ns:juror, prd:juror, stg/add-or-update, prod/add-or-update, rel:juror-bureau-pr-911

#917 JS-325 - Update GDS govuk-frontend 5.9.0
  package.json
  yarn-audit-known-issues
  yarn.lock
Labels: ns:juror, prd:juror, stg/add-or-update, prod/add-or-update, rel:juror-bureau-pr-917

#918 JS-211 - Email address displayed in juror search results for Bureau
  client/templates/juror-management/search/results-list.njk
  server/routes/juror-management/search/search.controller.js
Labels: ns:juror, prd:juror, stg/add-or-update, prod/add-or-update, rel:juror-bureau-pr-918
