Repository hmcts/juror-bureau, pull requests merged in 2025-07, with the labels that each got.

#963 JS-349-Fix - Update validation order / preserve edit changes
  server/config/validation/paper-reply.js
  server/routes/juror-management/edit/juror-edit.controller.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-963

#962 Release5.9b
  README.md
  client/js/loading-spinner.js
  client/scss/main.scss
  client/scss/mod-custom.scss
  client/templates/includes/current_app.njk
  client/templates/pool-management/additional-summons/index.njk
  client/templates/pool-management/create-pool/summon-citizens/index.njk
  client/templates/response/_edits/edit-juror-details.njk
  client/templates/search/index.njk
  package.json
  server/components/filters/index.js
  server/config/validation/edit-juror-details.js
  server/config/validation/paper-reply.js
  server/config/validation/record-create-manual.js
  server/routes/juror-management/attendance/unconfirmed-attendances/unconfirmed-attendances.controller.js
  server/routes/juror-management/edit/juror-edit.controller.js
  server/routes/juror-management/juror-record/modify-attendance/modify-attendance.controller.js
  server/routes/reporting/standard-report/standard-report-print.js
  server/routes/summons-management/paper-reply/paper-reply.controller.js
  server/routes/trial-management/reassign-panel/reassign-panel.controller.js
  webpack/htmlWebpack.js
  yarn-audit-known-issues
  yarn.lock
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-962

#966 task/JS-416 Update to handle new super user permission
  server/components/auth/index.js
  server/components/auth/user-type.js
  server/routes/authentication/authentication.controller.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-966

#971 task/JS-469: Limit court dashboard to super user permission only
  server/routes/homepage/homepage.controller.js
  server/routes/homepage/index.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-971

#973 task/js-398-1 - court user summons replies page title
  client/templates/completed.njk
  client/templates/inbox.njk
  client/templates/pending.njk
  yarn-audit-known-issues
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-973

#964 Release5.10
  client/assets/images/hmcts-logo.png
  client/assets/images/letterlogo-cy.png
  client/assets/images/letterlogo.png
  client/assets/images/pdflogo-cy.jpg
  client/assets/images/pdflogo.jpg
  client/js/i18n/cy/PDF.json
  client/js/i18n/en/PDF.json
  client/scss/homepage.scss
  client/scss/main.scss
  client/scss/mod-custom.scss
  client/scss/mod-dashboard.scss
  client/templates/completed.njk
  client/templates/custom-components/homepage-hero-blue/template.njk
  client/templates/custom-components/super-navigation/super-navigation.njk
  client/templates/homepage/court-dashboard/dashboard.njk
  client/templates/homepage/court-dashboard/widgets/attendance/_partials/attendance-doughnut.njk
  client/templates/homepage/court-dashboard/widgets/attendance/attendance-doughnut.njk
  client/templates/homepage/court-dashboard/widgets/large-values.njk
  client/templates/homepage/court-dashboard/widgets/notifications.njk
  client/templates/homepage/court-dashboard/widgets/standard-value.njk
  client/templates/inbox.njk
  client/templates/juror-management/manage-jurors.njk
  client/templates/layouts/govuk_template.njk
  client/templates/pending.njk
  package.json
  server/components/auth/index.js
  server/components/auth/user-type.js
  server/components/filters/index.js
  server/lib/mod-utils.js
  server/objects/court-dashboard.js
  server/objects/responses.js
  server/routes/authentication/authentication.controller.js
  server/routes/completed/completed.controller.js
  server/routes/homepage/dashboard/definitions.js
  server/routes/homepage/homepage.controller.js
  server/routes/homepage/index.js
  server/routes/inbox/inbox.controller.js
  server/routes/pending/pending.controller.js
  server/stores/court-dashboard.js
  yarn-audit-known-issues
  yarn.lock
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-964

#976 Task/JS-439: Add comments around the 5 juror eligibility question - Paper responses
  client/templates/response/_partials/eligibility.njk
  client/templates/summons-management/paper-reply/eligibility.njk
  server/config/validation/paper-reply.js
  server/routes/juror-management/update/juror-update.responded.controller.js
  server/routes/response/detail/detail.controller.js
  server/routes/summons-management/paper-reply/paper-reply.controller.js
  server/routes/summons-management/summons-management.controller.js
  server/routes/summons-management/update/eligibility.controller.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-976

#975 task/JS-449: Update print show cause letter routing
  client/templates/juror-management/juror-record/attendance.njk
  server/routes/documents/document-form.controller.js
  server/routes/documents/show-cause/index.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-975

#974 hotfix/JS-450: Fix reassign jurors crash
  server/routes/juror-management/reassign/reassign.controller.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-974

#980 JS-443 - Automatically update draft expenses with defaults
  client/templates/expenses/default-expenses.njk
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-980

#978 Task/JS-488: Merge all renovate PR's
  .nvmrc
  .yarn/releases/yarn-3.8.7.cjs
  .yarnrc.yml
  infrastructure/.terraform-version
  infrastructure/state.tf
  package.json
  yarn-audit-known-issues
  yarn.lock
Labels: ns:juror, prd:juror, stg/add-or-update, prod/no-changes, rel:juror-bureau-pr-978
