Repository hmcts/juror-bureau, pull requests merged in 2025-04, with the labels that each got.

#922 helm: update to use oci
  charts/juror-bureau/Chart.yaml
Labels: ns:juror, prd:juror, stg/add-or-update, prod/add-or-update, rel:juror-bureau-pr-922

#923 JS-201 - Update Juror Record and Summons Management error messaging
  client/templates/trial-management/trial-detail.njk
  server/routes/administration/judges/judges.controller.js
  server/routes/administration/non-sitting-days/non-sitting-days.controller.js
  server/routes/juror-management/edit/juror-edit.controller.js
  server/routes/juror-management/update/juror-update.failed-to-attend.controller.js
  server/routes/pool-management/create-pool/summon-citizens/summon-citizens.controller.js
  server/routes/reporting/pool-ratio/pool-ratio.controller.js
  server/routes/trial-management/add-panel-members/add-panel-member.controller.js
  server/routes/trial-management/edit-trial/edit-trial.controller.js
  server/routes/trial-management/trial-management.controller.js
Labels: stg/add-or-update, prod/add-or-update

#933 Task/JS-312: Add non attendance days in bulk for certain jurors
  client/templates/pool-management/pool-overview/court-pool-jurors.njk
  client/templates/trial-management/_partials/trial-panel.njk
  server/objects/juror-attendance.js
  server/routes/juror-management/expenses/non-attendance-day/non-attendance-day.controller.js
  server/routes/pool-management/pool-overview/index.js
  server/routes/pool-management/pool-overview/pool-overview.controller.js
  server/routes/trial-management/add-non-attendance-day/add-non-attendance-day.controller.js
  server/routes/trial-management/add-non-attendance-day/index.js
  server/routes/trial-management/index.js
  server/routes/trial-management/trial-management.controller.js
Labels: ns:juror, prd:juror, rel:juror-bureau-pr-933
